body{
  overflow: hidden
  
}
.background {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN) no-repeat center center;
      background-size: cover;
      z-index: 0;
      transition: filter 0.3s ease , transform 0.3s ease;
    }
.blurred {
      filter: blur(5px);
      transform: scale(105%);
    }

html{
    height: 100%;
    touch-action: manipulation;
}
h1 {
  position: relative;  
  text-align: center;
    padding: 20px;
}


/* search-container */

.search-container {
    text-align: center;
    margin-bottom: 20px;
    
}

.search-container input[type="text"] {
  letter-spacing: 5px;
    text-align: center;  
    word-wrap: break-word;  
    padding: 8px;
    width: 24%;
    height: 30px;
    font-size: large;
    transition: background-color 0.3s ease;
    background-color: rgba(245, 245, 220, 0.05); /* 初始背景颜色 */
    backdrop-filter: blur(2px);
    transition: width 0.5s ease,background-color 0.5s ease,height 0.5s ease,backdrop-filter 0.5s ease,letter-spacing 0.55s ease;
    border: none;  /* hide 搜索框的边框 */
    border-radius: 10px;
    
}
.search-container input[type="text"]:focus {
    outline: none;
    letter-spacing: 1px;
    /* animation: background-animation 0.3s forwards; */
    width: calc(88% - 20px);
    height: 35px;
    background-color: rgba(245, 245, 220,0.6);
    backdrop-filter: blur(100%);
  }
  .search-container input[type="text"]:hover{
    width: calc(90% - 20px);
    letter-spacing: 1px;
    /* animation:searchhover 0.3s forwards; */
    backdrop-filter: blur(10px);
    background-color: rgba(245, 245, 220,0.8);
    
  }

.search-container input[type="submit"] {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

.search-container input[type="submit"]:hover {
    background-color: #555;
}

  /* 浏览器搜索引擎选择 */
  /* Select the search engine in the search box */
  select {
    position: relative;
    background-color: #f2f2f200;
    border: none;
    padding: 6px;
    font-size: 14px;
    width: 200px;
    border-radius: 50px;
    transition:background-color 0.5s ease , border-radius 0.5s ease;
  }

  select:hover {
    background-color: rgba(255,255,255,0.3);
    
  }
  
  select:focus {
    background-color: rgba(255,255,255,0.8);
    
  }


select::-ms-expand {
  display: none; 
}
  
  select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }

  #search-button {
    position: relative;  
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 123, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s,;
  }

  #search-button:hover {
    background-color: rgba(0, 86, 179,0.9);
  }
